piconfig-seminar/.node-red/.flows_raspberrypi.json.backup
[{"id":"ffe68bb2.9a7ac8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1b22ce8.f8955","type":"tab","label":"Status&Control","disabled":false,"info":""},{"id":"4977ea51.a6a994","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"cf09d4f1.e42cf8","type":"mqtt-broker","z":"","broker":"192.168.1.202","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"262ba3ab.63345c","type":"ui_group","z":"","name":"Memory","tab":"b2e9bbaa.510648","order":4,"disp":false,"width":"8"},{"id":"9594ea7e.8785e8","type":"ui_group","z":"","name":"cpu","tab":"","order":6,"disp":false,"width":"3"},{"id":"3bda97dc.d535c8","type":"ui_group","z":"","name":"Data new","tab":"","order":2,"disp":false,"width":"6"},{"id":"8fff3c30.d4cd9","type":"ui_group","z":"","name":"icon","tab":"b2e9bbaa.510648","order":1,"disp":false,"width":"8"},{"id":"6fb69140.81c4b","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"f2ea1195.af9ba","type":"ui_group","z":"","name":"LampGreen","tab":"b2e9bbaa.510648","order":8,"disp":false,"width":"10"},{"id":"caec310d.78c4f","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"200","bin":"bin","out":"time","addchar":false,"responsetimeout":""},{"id":"5d0dfae2.33ba24","type":"ui_group","z":"","name":"ValueSensor","tab":"b2e9bbaa.510648","order":7,"disp":false,"width":"12"},{"id":"2061d95d.20b2c6","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"b0396e21.c002e","type":"ui_group","z":"","name":"Chart C","tab":"b2e9bbaa.510648","order":5,"disp":false,"width":"14"},{"id":"465fc49.de0c43c","type":"ui_group","z":"","name":"bar","tab":"b2e9bbaa.510648","order":2,"disp":false,"width":"14"},{"id":"b2e9bbaa.510648","type":"ui_tab","z":"","name":"SENSOR","icon":"dashboard","order":1},{"id":"6ff35c51.f57274","type":"ui_group","z":"","name":"Memory","tab":"9da55ef8.9d4c3","order":4,"disp":false,"width":"8"},{"id":"cb83af9c.81bf3","type":"ui_group","z":"","name":"cpu","tab":"","order":6,"disp":false,"width":"3"},{"id":"9dd45086.43d1","type":"ui_group","z":"","name":"Data new","tab":"","order":2,"disp":false,"width":"6"},{"id":"76afe0af.9d6a4","type":"ui_group","z":"","name":"icon","tab":"9da55ef8.9d4c3","order":1,"disp":false,"width":"8"},{"id":"ea6e95e4.1d97e8","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"426d8695.e9b3c8","type":"ui_group","z":"","name":"LampGreen","tab":"9da55ef8.9d4c3","order":8,"disp":false,"width":"10"},{"id":"e6cb6bd6.5b4708","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"200","bin":"bin","out":"time","addchar":false,"responsetimeout":""},{"id":"ae8b065d.c3a7b8","type":"ui_group","z":"","name":"ValueSensor","tab":"9da55ef8.9d4c3","order":7,"disp":false,"width":"12"},{"id":"715cc5ec.51b3bc","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"d5d729e7.8022d8","type":"ui_group","z":"","name":"Chart C","tab":"9da55ef8.9d4c3","order":5,"disp":false,"width":"14"},{"id":"ee7aca3.6c35838","type":"ui_group","z":"","name":"bar","tab":"9da55ef8.9d4c3","order":2,"disp":false,"width":"14"},{"id":"9da55ef8.9d4c3","type":"ui_tab","z":"","name":"SENSOR","icon":"dashboard","order":1},{"id":"b6901aae.ca5218","type":"ui_group","z":"","name":"Memory","tab":"7d8746f7.15b058","order":4,"disp":false,"width":"8"},{"id":"28292ad5.0e6d36","type":"ui_group","z":"","name":"cpu","tab":"","order":6,"disp":false,"width":"3"},{"id":"e2244558.37a7c8","type":"ui_group","z":"","name":"Data new","tab":"","order":2,"disp":false,"width":"6"},{"id":"bb221bf9.822a88","type":"ui_group","z":"","name":"icon","tab":"7d8746f7.15b058","order":1,"disp":false,"width":"8"},{"id":"beae6fc6.fa5a","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"2ea4f0ad.017d9","type":"ui_group","z":"","name":"LampGreen","tab":"7d8746f7.15b058","order":8,"disp":false,"width":"10"},{"id":"6fc2a7fa.b05b08","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"200","bin":"bin","out":"time","addchar":false},{"id":"f59bda81.8404d8","type":"ui_group","z":"","name":"ValueSensor","tab":"7d8746f7.15b058","order":7,"disp":false,"width":"12"},{"id":"f468e942.4b73d8","type":"ui_group","z":"","name":"Test","tab":"","disp":true,"width":"6"},{"id":"81ab821.ba6e48","type":"ui_group","z":"","name":"Chart C","tab":"7d8746f7.15b058","order":5,"disp":false,"width":"14"},{"id":"fac57817.1c3518","type":"ui_group","z":"","name":"bar","tab":"7d8746f7.15b058","order":2,"disp":false,"width":"14"},{"id":"7d8746f7.15b058","type":"ui_tab","z":"","name":"SENSOR","icon":"dashboard","order":1},{"id":"35a1469d.bb873a","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"","default":"#4B7930","baseColor":"#0d9fd7","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0d9fd7","value":"#0d9fd7","edited":false},"page-titlebar-backgroundColor":{"value":"#0d9fd7","edited":false},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#3dc1f3","edited":false},"group-borderColor":{"value":"#333333","edited":true},"group-backgroundColor":{"value":"#222222","edited":true},"widget-textColor":{"value":"#e4e4e4","edited":true},"widget-backgroundColor":{"value":"#0d9fd7","edited":false},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"true","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":10,"gy":10,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a8ec1262.33a6e","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"200","bin":"bin","out":"time","addchar":false,"responsetimeout":""},{"id":"b040987c.a86558","type":"ui_group","z":"","name":"Voltage Control (Fix Show on Graph)","tab":"df8f869b.694768","order":1,"disp":true,"width":"9"},{"id":"1aa0b814.5ba598","type":"ui_group","z":"","name":"Data Control (Delete Data)","tab":"df8f869b.694768","order":2,"disp":true,"width":"9"},{"id":"df8f869b.694768","type":"ui_tab","z":"","name":"Setting","icon":"dashboard","order":1},{"id":"35554492.78c30c","type":"ui_tab","z":"","name":"IOT","icon":"dashboard","order":5},{"id":"fcd22e.efdecdd","type":"ui_group","z":"","name":"Static Sensor","tab":"35554492.78c30c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f316d0.68aa994","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"staticsensor","name":"","usetls":false,"tls":""},{"id":"71f2be0.708dd44","type":"influxdb","z":"4977ea51.a6a994","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false},{"id":"b6ce54ad.8eab48","type":"influxdb","z":"4977ea51.a6a994","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries","usetls":false,"tls":""},{"id":"ac40d951.a21478","type":"influxdb","z":"4977ea51.a6a994","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"8b41e75b.ddc148","type":"modbustcp-server","z":"","name":"desktop","host":"192.168.1.30","port":"502","unit_id":"1","reconnecttimeout":""},{"id":"debc38b.d24c9c8","type":"Generic BLE","z":0,"localName":"W1h","address":"50:f1:4a:c7:dc:9f","uuid":"c05a","muteNotifyEvents":false,"operationTimeout":"","characteristics":[]},{"id":"e143fc16.cfbcb","type":"Generic BLE","z":0,"localName":"W2","address":"50:f1:4a:c7:dc:9f","uuid":"00001800-0000-1000-8000-00805f9b34fb","muteNotifyEvents":false,"operationTimeout":"","characteristics":[]},{"id":"20bf936.ec4976c","type":"Generic BLE","z":0,"localName":"Lamp_150104","address":"5c:f8:21:f6:41:6e","uuid":"5cf821f6416e","muteNotifyEvents":false,"operationTimeout":"","characteristics":[]},{"id":"52834ad7.584404","type":"Generic BLE","z":0,"localName":"Lamp_150104","address":"5c:f8:21:f6:55:f3","uuid":"5cf821f655f3","muteNotifyEvents":false,"operationTimeout":"","characteristics":[{"uuid":"2a00","name":"Device Name","type":"org.bluetooth.characteristic.gap.device_name","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a01","name":"Appearance","type":"org.bluetooth.characteristic.gap.appearance","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a02","name":"Peripheral Privacy Flag","type":"org.bluetooth.characteristic.gap.peripheral_privacy_flag","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"2a03","name":"Reconnection Address","type":"org.bluetooth.characteristic.gap.reconnection_address","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"2a04","name":"Peripheral Preferred Connection Parameters","type":"org.bluetooth.characteristic.gap.peripheral_preferred_connection_parameters","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a05","name":"Service Changed","type":"org.bluetooth.characteristic.gatt.service_changed","notifiable":false,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"2a23","name":"System ID","type":"org.bluetooth.characteristic.system_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a25","name":"Serial Number String","type":"org.bluetooth.characteristic.serial_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a26","name":"Firmware Revision String","type":"org.bluetooth.characteristic.firmware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a27","name":"Hardware Revision String","type":"org.bluetooth.characteristic.hardware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a28","name":"Software Revision String","type":"org.bluetooth.characteristic.software_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2a","name":"IEEE 11073-20601 Regulatory Certification Data List","type":"org.bluetooth.characteristic.ieee_11073-20601_regulatory_certification_data_list","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a50","name":"PnP ID","type":"org.bluetooth.characteristic.pnp_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"ffb1","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffb2","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffb3","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffb4","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffb5","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"ffb6","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffb7","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffb8","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":true},{"uuid":"ffb9","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffba","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffbb","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffbc","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"ffbd","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffbe","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":true},{"uuid":"ffbf","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":true},{"uuid":"ffc0","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":true}]},{"id":"79de86d.ccec578","type":"Generic BLE","z":0,"localName":"alarmlight","address":"87:10:dc:e9:6d:50","uuid":"8710dce96d50","muteNotifyEvents":false,"operationTimeout":"","characteristics":[]},{"id":"812bade7.ccff","type":"Generic BLE","z":0,"localName":"CC2650 SensorTag","address":"88:99:00:00:ff:ff","uuid":"666e850ba45c4952b8bed27a8133ecb2","muteNotifyEvents":true,"operationTimeout":"5000","characteristics":[{"uuid":"2a23","name":"System ID","type":"org.bluetooth.characteristic.system_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a25","name":"Serial Number String","type":"org.bluetooth.characteristic.serial_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a26","name":"Firmware Revision String","type":"org.bluetooth.characteristic.firmware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a27","name":"Hardware Revision String","type":"org.bluetooth.characteristic.hardware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a28","name":"Software Revision String","type":"org.bluetooth.characteristic.software_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a2a","name":"IEEE 11073-20601 Regulatory Certification Data List","type":"org.bluetooth.characteristic.ieee_11073-20601_regulatory_certification_data_list","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a50","name":"PnP ID","type":"org.bluetooth.characteristic.pnp_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a19","name":"Battery Level","type":"org.bluetooth.characteristic.battery_level","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa0104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa0204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa0304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa2104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa2204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa2304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa4104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa4204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa4404514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa8104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa8204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa8304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa7104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa7204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa7304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"ffe1","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"f000aa6504514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000aa6604514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ac0104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ac0204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ac0304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ccc104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"f000ccc204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ccc304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"f000ffc104514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":true},{"uuid":"f000ffc204514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":true,"writeWithoutResponse":true},{"uuid":"f000ffc304514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":true},{"uuid":"f000ffc404514000b000000000000000","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":true,"writable":false,"writeWithoutResponse":false}]},{"id":"3df68d0d.831a02","type":"MySQLdatabase","z":"ffe68bb2.9a7ac8","host":"127.0.0.1","port":"3306","db":"monitorSensor","tz":"+7"},{"id":"910ca4b3.20a788","type":"MySQLdatabase","z":"ffe68bb2.9a7ac8","host":"127.0.0.1","port":"3306","db":"monitorSensor","tz":"+7"},{"id":"e064af26.bc656","type":"MySQLdatabase","z":"ffe68bb2.9a7ac8","host":"127.0.0.1","port":"3306","db":"monitorsensor","tz":"+7"},{"id":"a9689ec8.17202","type":"MySQLdatabase","z":"ffe68bb2.9a7ac8","host":"127.0.0.1","port":"3306","db":"monitorSensor","tz":"+7"},{"id":"8e494aa3.919438","type":"ui_group","z":"","name":"Conveyor","tab":"35554492.78c30c","order":4,"disp":true,"width":"6","collapse":false},{"id":"e84b75c8.cff0d8","type":"ui_group","z":"","name":"SoftX","tab":"35554492.78c30c","order":5,"disp":true,"width":"6","collapse":false},{"id":"161ac7cf.8bcdd8","type":"ui_group","z":"","name":"Main Control","tab":"35554492.78c30c","order":3,"disp":true,"width":"6","collapse":true},{"id":"630319ec.6988d8","type":"ui_group","z":"","name":"Simulate","tab":"35554492.78c30c","order":2,"disp":true,"width":"6","collapse":false},{"id":"25ea603b.400d8","type":"serial in","z":"ffe68bb2.9a7ac8","name":"/dev","serial":"a8ec1262.33a6e","x":510,"y":280,"wires":[["6ec4ba36.eb03c4"]]},{"id":"6ec4ba36.eb03c4","type":"switch","z":"ffe68bb2.9a7ac8","name":"Check Head","property":"payload[0]","propertyType":"msg","rules":[{"t":"eq","v":"36","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650.0000152587891,"y":281.0000066757202,"wires":[["531cb14e.e7e0b","aa1fb2c2.5305a","1ae9e231.1f911e","167d6baf.0738e4"]]},{"id":"531cb14e.e7e0b","type":"function","z":"ffe68bb2.9a7ac8","name":"Sen1","func":"var chk =  msg.payload[0] ;\nvar newMsg =  msg.payload[13] ;\nvar newMsg2 = msg.payload[14] ;\n\nvar i1 =  parseInt(newMsg,10);\nvar i2 =  parseInt(newMsg2,10);\n//if(i2==25 && i1==0){\n//    i2=0;\n//}\n//i1=i1*100;\nvar io = i1+i2;\n\nvar is = String(io);\n//var msg1 = { payload:is };\nglobal.set(\"val1\",is);\nvar flag = global.get(\"flag\");\nif(flag==1)\n{\n    global.set(\"val1\",is);\n    global.set(\"flag\",2);\n}else if(flag==2){\n    global.set(\"val2\",is);\n    global.set(\"flag\",1);\n}\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nmsg1.payload = ;\nmsg1.topic = 'STATIC SENSOR'\nmsg2.payload = global.get(\"val1\");\nmsg2.topic = 'val11';\nmsg3.payload = global.get(\"val2\");\nmsg3.topic = 'val22';\nreturn [msg1,msg2,msg3];","outputs":"3","noerr":1,"x":830,"y":280,"wires":[[],[],[]]},{"id":"aa1fb2c2.5305a","type":"debug","z":"ffe68bb2.9a7ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":340,"wires":[]},{"id":"b95a8edc.8cbc3","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"var sym =  msg.payload[11] ;\nvar newMsg =  msg.payload[13] ;\nvar newMsg2 = msg.payload[14] ;\nvar result = 0;\nvar i1 =  parseInt(newMsg,10);\nvar i2 =  parseInt(newMsg2,10);\ni1 = String(i1);\ni2 = String(i2);\nif(i1.length==1) i1 = \"0\"+i1;\nif(i2.length==1) i2 = \"0\"+i2;\nif(sym==0x5a)\nresult = \"-\"+i1+i2\nelse\nresult = i1+i2\nresult = parseInt(result,10)/1000;\n\nmsg.payload = result+\" Kv\";\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":230,"wires":[[]]},{"id":"62ae9de.15ce964","type":"inject","z":"ffe68bb2.9a7ac8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":60,"wires":[["2c41b384.cb1dbc"]]},{"id":"85d86b18.25f9a8","type":"debug","z":"ffe68bb2.9a7ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":400,"wires":[]},{"id":"10548847.2d4608","type":"ui_gauge","z":"ffe68bb2.9a7ac8","name":"","group":"fcd22e.efdecdd","order":0,"width":0,"height":0,"gtype":"donut","title":"0x08","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":100,"wires":[]},{"id":"7a2cce80.60a13","type":"influxdb in","z":"4977ea51.a6a994","influxdb":"b6ce54ad.8eab48","name":"time query","query":"select LAST(value) from testDB;","rawOutput":false,"precision":"","retentionPolicy":"","x":556,"y":300,"wires":[["8d32ab5b.bb0e38","ff63a0cd.f6aaf"]]},{"id":"d4466d3a.c993c","type":"inject","z":"4977ea51.a6a994","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":405,"y":300,"wires":[["7a2cce80.60a13"]]},{"id":"8d32ab5b.bb0e38","type":"debug","z":"4977ea51.a6a994","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0].last","x":758,"y":300,"wires":[]},{"id":"69d9b697.95eff8","type":"influxdb out","z":"4977ea51.a6a994","influxdb":"b6ce54ad.8eab48","name":"","measurement":"testDB","precision":"","retentionPolicy":"","x":726,"y":397,"wires":[]},{"id":"b3f6b204.79d6d","type":"function","z":"4977ea51.a6a994","name":"single value","func":"msg.payload = Math.floor(Math.random() * 100); \n//msg.payload = 50; \nreturn msg;","outputs":1,"noerr":0,"x":526,"y":404,"wires":[["69d9b697.95eff8"]]},{"id":"99ecf8c.a5d4008","type":"inject","z":"4977ea51.a6a994","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":312,"y":405,"wires":[["b3f6b204.79d6d"]]},{"id":"807337cd.d31de8","type":"inject","z":"4977ea51.a6a994","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":344,"y":510,"wires":[["43cde7c6.eb99e8"]]},{"id":"43cde7c6.eb99e8","type":"function","z":"4977ea51.a6a994","name":"Fields","func":"msg.payload = {\n    numValue: 500.0,\n    strValue: \"hello\",\n    randomValue: Math.random()*10\n}\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":510,"wires":[["3aaef230.2da3de"]]},{"id":"3aaef230.2da3de","type":"influxdb out","z":"4977ea51.a6a994","influxdb":"b6ce54ad.8eab48","name":"","measurement":"test","precision":"","retentionPolicy":"","x":662,"y":510,"wires":[]},{"id":"cdc0f21c.6002d","type":"function","z":"4977ea51.a6a994","name":"multiple readings","func":"msg.payload = [\n    [{\n        numValue: 10,\n        randomValue: Math.random()*10,\n        strValue: \"message1\",\n        time: new Date(\"2015-12-28T19:41:13Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }],\n    [{\n        numValue: 20,\n        randomValue: Math.random()*10,\n        strValue: \"message2\",\n        time: new Date(\"2015-12-28T19:41:14Z\").getTime()\n    },\n    {\n        tag1:\"sensor1\",\n        tag2:\"device2\"\n    }]\n];\nreturn msg;","outputs":1,"noerr":0,"x":518,"y":594,"wires":[["ad468443.c0bbe8","db69856c.66f878"]]},{"id":"dca4da74.390868","type":"inject","z":"4977ea51.a6a994","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":344,"y":594,"wires":[["cdc0f21c.6002d"]]},{"id":"ad468443.c0bbe8","type":"influxdb out","z":"4977ea51.a6a994","influxdb":"b6ce54ad.8eab48","name":"","measurement":"test","precision":"","retentionPolicy":"","x":719,"y":593,"wires":[]},{"id":"ff63a0cd.f6aaf","type":"debug","z":"4977ea51.a6a994","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":739,"y":245,"wires":[]},{"id":"2c41b384.cb1dbc","type":"function","z":"ffe68bb2.9a7ac8","name":"SendCommand","func":"//var a = 0x24 ,0xAA ,0x03 ,0x52 ,0x45 ,0x51 ,0xCB ,0x2A;\nvar buffer1 = new Buffer(10);\nbuffer1[0] = 0x24;\nbuffer1[1] = 0x08;\nbuffer1[2] = 0x03;\nbuffer1[3] = 0x52;\nbuffer1[4] = 0x45;\nbuffer1[5] = 0x51;\nbuffer1[6] = 0x69;\nbuffer1[7] = 0x2A;\n//24 08 03 52 45 51 69 2A\nvar msg1 = { payload:buffer1 };\n//var msg1 = buffer;\nreturn msg1;","outputs":1,"noerr":0,"x":682,"y":113,"wires":[["6a00cf5f.f66fe"]]},{"id":"6a00cf5f.f66fe","type":"serial out","z":"ffe68bb2.9a7ac8","name":"","serial":"e6cb6bd6.5b4708","x":926,"y":76,"wires":[]},{"id":"14f890a9.36969f","type":"function","z":"ffe68bb2.9a7ac8","name":"SendCommand","func":"//var a = 0x24 ,0xAA ,0x03 ,0x52 ,0x45 ,0x51 ,0xCB ,0x2A;\nvar buffer1 = new Buffer(10);\nbuffer1[0] = 0x24;\nbuffer1[1] = 0x09;\nbuffer1[2] = 0x03;\nbuffer1[3] = 0x52;\nbuffer1[4] = 0x45;\nbuffer1[5] = 0x51;\nbuffer1[6] = 0x68;\nbuffer1[7] = 0x2A;\n//24 08 03 52 45 51 69 2A\nvar msg1 = { payload:buffer1 };\n//var msg1 = buffer;\nreturn msg1;","outputs":1,"noerr":0,"x":693,"y":71,"wires":[["6a00cf5f.f66fe"]]},{"id":"6ebd9fab.56342","type":"comment","z":"ffe68bb2.9a7ac8","name":"","info":"8: 0x24\n9: 0x8\n[10 … 18]\n10: 0x6\n11: 0x5a\n12: 0x0\n13: 0x0\n14: 0x47\n15: 0x0\n16: 0xc8\n17: 0xff\n18: 0x2a","x":920,"y":20,"wires":[]},{"id":"1ae9e231.1f911e","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"var addSensor =  msg.payload[1];\nvar sym =  msg.payload[3];\nvar newMsg =  msg.payload[5];\nvar newMsg2 = msg.payload[6];\nvar result = 0;\nvar i1 =  parseInt(newMsg,10);\nvar i2 =  parseInt(newMsg2,10);\ni1 = String(i1);\ni2 = String(i2);\nif(i1.length==1) i1 = \"0\"+i1;\nif(i2.length==1) i2 = \"0\"+i2;\nif(sym==0x5a)\nresult = \"-\"+i1+i2\nelse\nresult = i1+i2\nresult = parseInt(result,10)/1000;\n\nmsg.payload = result+\" Kv\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["85d86b18.25f9a8"]]},{"id":"167d6baf.0738e4","type":"switch","z":"ffe68bb2.9a7ac8","name":"addSensor_0x08","property":"payload[1]","propertyType":"msg","rules":[{"t":"eq","v":"0x08","vt":"num"},{"t":"eq","v":"0x09","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":200,"wires":[["2b0252ad.044eae"],["f0d9e2c8.b5515"]]},{"id":"2b0252ad.044eae","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"var addSensor =  msg.payload[1];\nvar sym =  msg.payload[3];\nvar newMsg =  msg.payload[5];\nvar newMsg2 = msg.payload[6];\nvar result = 0;\nvar i1 =  parseInt(newMsg,10);\nvar i2 =  parseInt(newMsg2,10);\ni1 = String(i1);\ni2 = String(i2);\nif(i1.length==1) i1 = \"0\"+i1;\nif(i2.length==1) i2 = \"0\"+i2;\nif(sym==0x5a)\nresult = \"-\"+i1+i2\nelse\nresult = i1+i2\nresult = parseInt(result,10)/1000;\nvar msg1 = {};\nvar msg2 = {};\nmsg1.payload = result+\" Kv\";\nmsg2.payload = Math.abs(Number(result));\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":999,"y":184,"wires":[["10548847.2d4608","14f890a9.36969f","1cc245eb.03fc0a"],["a9b7c940.d8b868"]]},{"id":"f0d9e2c8.b5515","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"var addSensor =  msg.payload[1];\nvar sym =  msg.payload[3];\nvar newMsg =  msg.payload[5];\nvar newMsg2 = msg.payload[6];\nvar result = 0;\nvar i1 =  parseInt(newMsg,10);\nvar i2 =  parseInt(newMsg2,10);\ni1 = String(i1);\ni2 = String(i2);\nif(i1.length==1) i1 = \"0\"+i1;\nif(i2.length==1) i2 = \"0\"+i2;\nif(sym==0x5a)\nresult = \"-\"+i1+i2\nelse\nresult = i1+i2\nresult = parseInt(result,10)/1000;\n\nvar msg1 = {};\nvar msg2 = {};\nmsg1.payload = result+\" Kv\";\nmsg2.payload = Math.abs(Number(result));\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":1001,"y":235,"wires":[["4f5ff35b.41e21c","e0c34c27.d1c73"],["26e21779.fc9928"]]},{"id":"4f5ff35b.41e21c","type":"ui_gauge","z":"ffe68bb2.9a7ac8","name":"","group":"fcd22e.efdecdd","order":0,"width":0,"height":0,"gtype":"donut","title":"0x09","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":141,"wires":[]},{"id":"1cc245eb.03fc0a","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"fcd22e.efdecdd","order":0,"width":"3","height":"3","name":"","label":"0x08","format":"{{msg.payload}}","layout":"col-center","x":1210,"y":20,"wires":[]},{"id":"e0c34c27.d1c73","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"fcd22e.efdecdd","order":0,"width":"3","height":"3","name":"","label":"0x09","format":"{{msg.payload}}","layout":"col-center","x":1210,"y":60,"wires":[]},{"id":"db69856c.66f878","type":"debug","z":"4977ea51.a6a994","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":706,"y":649,"wires":[]},{"id":"a9b7c940.d8b868","type":"function","z":"ffe68bb2.9a7ac8","name":"Fields","func":"msg.payload = {\n    numValue: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":200,"wires":[["47702f73.99203","b9ee2d30.c3ccb","a49dbd25.82c9e"]]},{"id":"47702f73.99203","type":"influxdb out","z":"ffe68bb2.9a7ac8","influxdb":"7f316d0.68aa994","name":"sensor1","measurement":"sensor_1","precision":"","retentionPolicy":"","x":1380,"y":80,"wires":[]},{"id":"e2537565.97a198","type":"influxdb out","z":"ffe68bb2.9a7ac8","influxdb":"7f316d0.68aa994","name":"sensor2","measurement":"sensor_2","precision":"","retentionPolicy":"","x":1378,"y":122,"wires":[]},{"id":"b9ee2d30.c3ccb","type":"debug","z":"ffe68bb2.9a7ac8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1387,"y":169,"wires":[]},{"id":"26e21779.fc9928","type":"function","z":"ffe68bb2.9a7ac8","name":"Fields","func":"msg.payload = {\n    numValue: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":245,"wires":[["e2537565.97a198","f213b01a.96d26"]]},{"id":"52d2597f.de2568","type":"modbustcp-write","z":"ffe68bb2.9a7ac8","name":"","topic":"","dataType":"HoldingRegister","adr":"100","server":"8b41e75b.ddc148","x":870,"y":1160,"wires":[]},{"id":"de9eca46.07a878","type":"inject","z":"ffe68bb2.9a7ac8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":70,"y":160,"wires":[["a1399013.3dea9","b95648d8.c4cb88","ccf8f17f.12d7","94489f50.3eb5e"]]},{"id":"a1399013.3dea9","type":"rpi-gpio out","z":"ffe68bb2.9a7ac8","name":"Drive con 21","pin":"21","set":true,"level":"0","freq":"","out":"out","x":250,"y":380,"wires":[]},{"id":"b95648d8.c4cb88","type":"rpi-gpio out","z":"ffe68bb2.9a7ac8","name":"DriveX 22","pin":"22","set":true,"level":"0","freq":"","out":"out","x":240,"y":440,"wires":[]},{"id":"ccf8f17f.12d7","type":"rpi-gpio out","z":"ffe68bb2.9a7ac8","name":"Drive-Dir X 23","pin":"23","set":true,"level":"0","freq":"","out":"out","x":260,"y":500,"wires":[]},{"id":"94489f50.3eb5e","type":"rpi-gpio out","z":"ffe68bb2.9a7ac8","name":"SoftX 24","pin":"24","set":true,"level":"0","freq":"","out":"out","x":240,"y":560,"wires":[]},{"id":"1d07bab6.2a9f05","type":"inject","z":"ffe68bb2.9a7ac8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1220,"wires":[["52d2597f.de2568"]]},{"id":"d4b6587e.f9f318","type":"inject","z":"ffe68bb2.9a7ac8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1180,"wires":[["52d2597f.de2568"]]},{"id":"4d03d78f.738898","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"","group":"8e494aa3.919438","order":2,"width":"1","height":"1","passthru":false,"label":"START","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":540,"y":440,"wires":[["ca7c6f2a.83d0d"]]},{"id":"eafb23e6.c0a4b","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"","group":"8e494aa3.919438","order":3,"width":"1","height":"1","passthru":false,"label":"STOP","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":530,"y":480,"wires":[["ca7c6f2a.83d0d"]]},{"id":"982a43e.1e647c","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"8e494aa3.919438","order":1,"width":"4","height":"1","name":"","label":"Motor","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":540,"wires":[]},{"id":"4e336ff.2df249","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"if(msg.payload==0){\n    msg.payload = \"OFF\"\n}else{\n    msg.payload = \"ON\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":540,"wires":[["982a43e.1e647c"]]},{"id":"eb6c8e26.442cd","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"8e494aa3.919438","order":4,"width":"6","height":"1","name":"","label":"Sensor Ck","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":580,"wires":[]},{"id":"5ff7c37a.2227bc","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"8e494aa3.919438","order":5,"width":"6","height":"1","name":"","label":"Sensor Stop","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":620,"wires":[]},{"id":"d2e9c9cd.594318","type":"rpi-gpio in","z":"ffe68bb2.9a7ac8","name":"ss_chk_11","pin":"11","intype":"down","debounce":"25","read":true,"x":460,"y":580,"wires":[["68f725da.142e4c"]]},{"id":"13b6b9ce.45ec26","type":"rpi-gpio in","z":"ffe68bb2.9a7ac8","name":"ss_Stop_12","pin":"12","intype":"down","debounce":"25","read":false,"x":470,"y":620,"wires":[["2306fa5c.6f3006"]]},{"id":"68f725da.142e4c","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"global.set(\"ss_chk\",msg.payload);\nif(msg.payload==0){\n    msg.payload = \"OFF\"\n}else{\n    msg.payload = \"ON\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[["eb6c8e26.442cd"]]},{"id":"2306fa5c.6f3006","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"global.set(\"ss_stop\",msg.payload);\nif(msg.payload==0){\n    msg.payload = \"OFF\"\n}else{\n    msg.payload = \"ON\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":620,"wires":[["5ff7c37a.2227bc"]]},{"id":"e17d4013.b96a2","type":"rpi-gpio in","z":"ffe68bb2.9a7ac8","name":"ss_X_13","pin":"13","intype":"down","debounce":"25","read":true,"x":660,"y":900,"wires":[["c507b86.fc9f548"]]},{"id":"b865a687.8d70f8","type":"rpi-gpio in","z":"ffe68bb2.9a7ac8","name":"ss_X_15","pin":"15","intype":"down","debounce":"25","read":true,"x":660,"y":940,"wires":[["e514f3ca.5b42f"]]},{"id":"1aa14f41.5ef1f1","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"","group":"e84b75c8.cff0d8","order":2,"width":"1","height":"1","passthru":false,"label":"START","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":740,"y":760,"wires":[["26fdf6f2.12159a"]]},{"id":"7d36005f.154d6","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"","group":"e84b75c8.cff0d8","order":3,"width":"1","height":"1","passthru":false,"label":"STOP","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":730,"y":800,"wires":[["26fdf6f2.12159a"]]},{"id":"83a5fa3d.5a0a88","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"e84b75c8.cff0d8","order":1,"width":"2","height":"1","name":"","label":"Motor","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":860,"wires":[]},{"id":"10708bee.4e90f4","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"e84b75c8.cff0d8","order":4,"width":"6","height":"1","name":"","label":"Sensor Ck","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":900,"wires":[]},{"id":"9cd6d3fb.f5066","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"e84b75c8.cff0d8","order":5,"width":"6","height":"1","name":"","label":"Sensor Stop","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":940,"wires":[]},{"id":"c507b86.fc9f548","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"global.set(\"ssx1\",msg.payload);\nif(msg.payload==0){\n    msg.payload = \"OFF\"\n}else{\n    msg.payload = \"ON\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":900,"wires":[["10708bee.4e90f4"]]},{"id":"e514f3ca.5b42f","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"global.set(\"ssx2\",msg.payload);\nif(msg.payload==0){\n    msg.payload = \"OFF\"\n}else{\n    msg.payload = \"ON\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":940,"wires":[["9cd6d3fb.f5066"]]},{"id":"ca7c6f2a.83d0d","type":"rpi-gpio out","z":"ffe68bb2.9a7ac8","name":"Drive con 21","pin":"21","set":true,"level":"0","freq":"","out":"out","x":710,"y":480,"wires":[]},{"id":"a96b229c.3aef8","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"","group":"161ac7cf.8bcdd8","order":9,"width":"3","height":"1","passthru":false,"label":"START","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":800,"wires":[[]]},{"id":"8ea27f4d.371e3","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"161ac7cf.8bcdd8","order":1,"width":0,"height":0,"name":"","label":"Robot Status","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":880,"wires":[]},{"id":"e169fc36.22315","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"161ac7cf.8bcdd8","order":2,"width":"3","height":"1","name":"","label":"Robot Control","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":920,"wires":[]},{"id":"1cd3baa2.a294f5","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"","group":"161ac7cf.8bcdd8","order":10,"width":"3","height":"1","passthru":false,"label":"STOP","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":840,"wires":[[]]},{"id":"4b1f16e6.39f068","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"start_rb","group":"161ac7cf.8bcdd8","order":3,"width":"1","height":"1","passthru":false,"label":"START","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":760,"wires":[[]]},{"id":"2b41a5fa.25a78a","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"stop_rb","group":"161ac7cf.8bcdd8","order":4,"width":"1","height":"1","passthru":false,"label":"STOP","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":800,"wires":[[]]},{"id":"c2f5359f.35bea8","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"home","group":"161ac7cf.8bcdd8","order":5,"width":"1","height":"1","passthru":false,"label":"HOME","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":840,"wires":[[]]},{"id":"1147ddbc.789da2","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"161ac7cf.8bcdd8","order":8,"width":0,"height":0,"name":"","label":"Main Control","format":"{{msg.payload}}","layout":"col-center","x":350,"y":760,"wires":[]},{"id":"26fdf6f2.12159a","type":"rpi-gpio out","z":"ffe68bb2.9a7ac8","name":"DriveX 22","pin":"22","set":true,"level":"0","freq":"","out":"out","x":960,"y":760,"wires":[]},{"id":"c32422b4.c23ee","type":"rpi-gpio out","z":"ffe68bb2.9a7ac8","name":"Drive-Dir X 23","pin":"23","set":true,"level":"0","freq":"","out":"out","x":980,"y":800,"wires":[]},{"id":"a3a57707.68c808","type":"ui_switch","z":"ffe68bb2.9a7ac8","name":"","label":"Dir","group":"e84b75c8.cff0d8","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"red","x":730,"y":840,"wires":[["c32422b4.c23ee"]]},{"id":"e6d6afc.6036b5","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"161ac7cf.8bcdd8","order":6,"width":"5","height":"1","name":"","label":"Soft X","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":960,"wires":[]},{"id":"5c670720.08bb38","type":"ui_switch","z":"ffe68bb2.9a7ac8","name":"SoftX","label":"","group":"161ac7cf.8bcdd8","order":7,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":70,"y":1000,"wires":[["19074e43.cbf522","3c5803eb.20537c"]]},{"id":"19074e43.cbf522","type":"rpi-gpio out","z":"ffe68bb2.9a7ac8","name":"SoftX 24","pin":"24","set":true,"level":"0","freq":"","out":"out","x":340,"y":1000,"wires":[]},{"id":"3c5803eb.20537c","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"if(!msg.payload){\n    msg.payload = \"OFF\"\n}else{\n    msg.payload = \"ON\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":960,"wires":[["e6d6afc.6036b5"]]},{"id":"a49dbd25.82c9e","type":"function","z":"ffe68bb2.9a7ac8","name":"valCheckcon","func":"global.set(\"valCheckcon\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":220,"wires":[[]]},{"id":"f213b01a.96d26","type":"function","z":"ffe68bb2.9a7ac8","name":"valChecksoft","func":"global.set(\"valChecksoft\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":260,"wires":[[]]},{"id":"3765f815.3208a8","type":"function","z":"ffe68bb2.9a7ac8","name":"ESD","func":"global.set(\"chkESD\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":600,"wires":[[]]},{"id":"48a867b7.6b7cd8","type":"function","z":"ffe68bb2.9a7ac8","name":"","func":"global.set(\"mainState\",\"start\");\nglobal.set(\"ss1\",true);\nglobal.set(\"statusESD\",false);\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":340,"wires":[[]]},{"id":"5291f2dc.2037fc","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"","group":"630319ec.6988d8","order":5,"width":0,"height":0,"passthru":false,"label":"Robot Pick","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":640,"wires":[[]]},{"id":"f5e08f13.66b86","type":"function","z":"ffe68bb2.9a7ac8","name":"Main script","func":"var ss1 = global.get(\"ss1\");\nvar ss2 = global.get(\"ss2\");\nvar ss3 = global.get(\"ss3\");\nvar ss4 = global.get(\"ss4\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":720,"wires":[[]]},{"id":"a6812314.da6a3","type":"status","z":"ffe68bb2.9a7ac8","name":"ss1","scope":["d2e9c9cd.594318"],"x":1230,"y":360,"wires":[["2e243ba6.c3cfc4"]]},{"id":"2e243ba6.c3cfc4","type":"function","z":"ffe68bb2.9a7ac8","name":"start","func":"var st1 = msg.status.text;\nvar ss1 = global.get(\"ss1\");\nvar mState = global.get(\"mainState\");\nif(ss1 && mState==\"start\"){\n    if(st1==\"1\"){\n        msg.payload = false;\n        global.set(\"ss1\",false);\n        global.set(\"mainState\",\"waitRobot\");\n    }\n}else{\n    msg.payload = \"CheckESD\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":360,"wires":[["433607cc.7cf5d8","f287ea60.5cce48"]]},{"id":"d2d97c0d.e2dbd","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"","group":"630319ec.6988d8","order":2,"width":"2","height":"1","passthru":false,"label":"START","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":1540,"y":340,"wires":[["6539ac71.214594","48a867b7.6b7cd8"]]},{"id":"433607cc.7cf5d8","type":"ui_text","z":"ffe68bb2.9a7ac8","group":"630319ec.6988d8","order":1,"width":"4","height":"1","name":"","label":"STATUS","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":420,"wires":[]},{"id":"6539ac71.214594","type":"rpi-gpio out","z":"ffe68bb2.9a7ac8","name":"Drive con 21","pin":"21","set":true,"level":"0","freq":"","out":"out","x":1730,"y":420,"wires":[]},{"id":"f287ea60.5cce48","type":"switch","z":"ffe68bb2.9a7ac8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1540,"y":380,"wires":[["6539ac71.214594"],["6539ac71.214594"]]},{"id":"3e5bf2da.371c9e","type":"debug","z":"ffe68bb2.9a7ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1770,"y":300,"wires":[]},{"id":"db2ea632.2ce2c8","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"","group":"630319ec.6988d8","order":3,"width":"3","height":"1","passthru":false,"label":"ESD PASS","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":1370,"y":420,"wires":[["66305bc1.5c1fc4","433607cc.7cf5d8"]]},{"id":"eb032c6f.f9865","type":"ui_button","z":"ffe68bb2.9a7ac8","name":"","group":"630319ec.6988d8","order":4,"width":"3","height":"1","passthru":false,"label":"ESD FAIL","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":1360,"y":460,"wires":[["66305bc1.5c1fc4","433607cc.7cf5d8"]]},{"id":"66305bc1.5c1fc4","type":"function","z":"ffe68bb2.9a7ac8","name":"ESDstatus","func":"global.set(\"ss1\",true);\nif(msg.payload){\n    global.set(\"statusESD\",true);\n}else{\n    global.set(\"statusESD\",false);\n}\nmsg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":460,"wires":[["6539ac71.214594"]]},{"id":"e860cac8.8f3f28","type":"status","z":"ffe68bb2.9a7ac8","name":"ss2","scope":["13b6b9ce.45ec26"],"x":1230,"y":500,"wires":[["4fc364ec.3f09ac"]]},{"id":"4fc364ec.3f09ac","type":"function","z":"ffe68bb2.9a7ac8","name":"waitRobot","func":"var st1 = msg.status.text;\nvar ss1 = global.get(\"ss2\");\nvar mState = global.get(\"mainState\");\nif(mState==\"waitRobot\"){\n    if(st1==\"1\"){\n        msg.payload = false;\n        global.set(\"ss2\",false);\n        global.set(\"mainState\",\"robotPick\");\n    }\n}else{\n    msg.payload = \"waitRobot\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":500,"wires":[["40a73d25.c1aab4"]]},{"id":"40a73d25.c1aab4","type":"switch","z":"ffe68bb2.9a7ac8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":500,"wires":[["6539ac71.214594"],["6539ac71.214594"]]},{"id":"ba909f85.ae9fa","type":"tcp in","z":"ffe68bb2.9a7ac8","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":1400,"y":880,"wires":[[]]},{"id":"5f3ba921.b03498","type":"debug","z":"ffe68bb2.9a7ac8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1710,"y":840,"wires":[]},{"id":"923f1bfb.02a008","type":"tcp out","z":"ffe68bb2.9a7ac8","host":"","port":"1234","beserver":"reply","base64":false,"end":false,"name":"","x":1700,"y":540,"wires":[]},{"id":"575b6320.e89c7c","type":"status","z":"ffe68bb2.9a7ac8","name":"","scope":["ba909f85.ae9fa"],"x":60,"y":920,"wires":[["f0dd241c.344cb8"]]},{"id":"f0dd241c.344cb8","type":"function","z":"ffe68bb2.9a7ac8","name":"start","func":"var con = msg.status.text;\nif(con[0]==\"1\"){\n    msg.payload = \"connected\";\n}else{\n    msg.payload = \"disconnect\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":920,"wires":[["8ea27f4d.371e3"]]},{"id":"bd23107d.8561f","type":"inject","z":"ffe68bb2.9a7ac8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":880,"wires":[["e169fc36.22315"]]}]