piconfig-seminar/Flow Backup
[{"id":"4b2abb42.86bae4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9c9f550a.9619b8","type":"serial in","z":"4b2abb42.86bae4","name":"/dev","serial":"78a6315e.4f5be","x":510,"y":280,"wires":[["ab17481c.760b98"]]},{"id":"ab17481c.760b98","type":"switch","z":"4b2abb42.86bae4","name":"Check Head","property":"payload[0]","propertyType":"msg","rules":[{"t":"eq","v":"36","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650.0000152587891,"y":281.0000066757202,"wires":[["d65405d4.63a818","8448ae07.9f9fa","7e3d70c3.e7fad","116606fe.2ae569"]]},{"id":"d65405d4.63a818","type":"function","z":"4b2abb42.86bae4","name":"Sen1","func":"var chk =  msg.payload[0] ;\nvar newMsg =  msg.payload[13] ;\nvar newMsg2 = msg.payload[14] ;\n\nvar i1 =  parseInt(newMsg,10);\nvar i2 =  parseInt(newMsg2,10);\n//if(i2==25 && i1==0){\n//    i2=0;\n//}\n//i1=i1*100;\nvar io = i1+i2;\n\nvar is = String(io);\n//var msg1 = { payload:is };\nglobal.set(\"val1\",is);\nvar flag = global.get(\"flag\");\nif(flag==1)\n{\n    global.set(\"val1\",is);\n    global.set(\"flag\",2);\n}else if(flag==2){\n    global.set(\"val2\",is);\n    global.set(\"flag\",1);\n}\nvar msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nmsg1.payload = ;\nmsg1.topic = 'STATIC SENSOR';\nmsg2.payload = global.get(\"val1\");\nmsg2.topic = 'val11';\nmsg3.payload = global.get(\"val2\");\nmsg3.topic = 'val22';\nreturn [msg1,msg2,msg3];","outputs":"3","noerr":1,"x":830,"y":280,"wires":[[],[],[]]},{"id":"8448ae07.9f9fa","type":"debug","z":"4b2abb42.86bae4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":340,"wires":[]},{"id":"6a6e8c8e.858414","type":"function","z":"4b2abb42.86bae4","name":"","func":"var sym =  msg.payload[11] ;\nvar newMsg =  msg.payload[13] ;\nvar newMsg2 = msg.payload[14] ;\nvar result = 0;\nvar i1 =  parseInt(newMsg,10);\nvar i2 =  parseInt(newMsg2,10);\ni1 = String(i1);\ni2 = String(i2);\nif(i1.length==1) i1 = \"0\"+i1;\nif(i2.length==1) i2 = \"0\"+i2;\nif(sym==0x5a)\nresult = \"-\"+i1+i2;\nelse\nresult = i1+i2;\nresult = parseInt(result,10)/1000;\n\nmsg.payload = result+\" Kv\";\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":230,"wires":[[]]},{"id":"cf06d397.79d5","type":"inject","z":"4b2abb42.86bae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":60,"wires":[["dc4d6a44.fc49d8"]]},{"id":"c4edd83f.ceb358","type":"debug","z":"4b2abb42.86bae4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":400,"wires":[]},{"id":"c4106b9c.895648","type":"ui_gauge","z":"4b2abb42.86bae4","name":"","group":"a231887e.d46398","order":0,"width":0,"height":0,"gtype":"donut","title":"0x08","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":100,"wires":[]},{"id":"dc4d6a44.fc49d8","type":"function","z":"4b2abb42.86bae4","name":"SendCommand","func":"//var a = 0x24 ,0xAA ,0x03 ,0x52 ,0x45 ,0x51 ,0xCB ,0x2A;\nvar buffer1 = new Buffer(10);\nbuffer1[0] = 0x24;\nbuffer1[1] = 0x08;\nbuffer1[2] = 0x03;\nbuffer1[3] = 0x52;\nbuffer1[4] = 0x45;\nbuffer1[5] = 0x51;\nbuffer1[6] = 0x69;\nbuffer1[7] = 0x2A;\n//24 08 03 52 45 51 69 2A\nvar msg1 = { payload:buffer1 };\n//var msg1 = buffer;\nreturn msg1;","outputs":1,"noerr":0,"x":682,"y":113,"wires":[["43ee2e29.5a32e"]]},{"id":"43ee2e29.5a32e","type":"serial out","z":"4b2abb42.86bae4","name":"","serial":"482f9069.de409","x":926,"y":76,"wires":[]},{"id":"4c517412.c4827c","type":"function","z":"4b2abb42.86bae4","name":"SendCommand","func":"//var a = 0x24 ,0xAA ,0x03 ,0x52 ,0x45 ,0x51 ,0xCB ,0x2A;\nvar buffer1 = new Buffer(10);\nbuffer1[0] = 0x24;\nbuffer1[1] = 0x09;\nbuffer1[2] = 0x03;\nbuffer1[3] = 0x52;\nbuffer1[4] = 0x45;\nbuffer1[5] = 0x51;\nbuffer1[6] = 0x68;\nbuffer1[7] = 0x2A;\n//24 08 03 52 45 51 69 2A\nvar msg1 = { payload:buffer1 };\n//var msg1 = buffer;\nreturn msg1;","outputs":1,"noerr":0,"x":693,"y":71,"wires":[["43ee2e29.5a32e"]]},{"id":"ed42f230.e29e7","type":"comment","z":"4b2abb42.86bae4","name":"","info":"8: 0x24\n9: 0x8\n[10 … 18]\n10: 0x6\n11: 0x5a\n12: 0x0\n13: 0x0\n14: 0x47\n15: 0x0\n16: 0xc8\n17: 0xff\n18: 0x2a","x":920,"y":20,"wires":[]},{"id":"7e3d70c3.e7fad","type":"function","z":"4b2abb42.86bae4","name":"","func":"var addSensor =  msg.payload[1];\nvar sym =  msg.payload[3];\nvar newMsg =  msg.payload[5];\nvar newMsg2 = msg.payload[6];\nvar result = 0;\nvar i1 =  parseInt(newMsg,10);\nvar i2 =  parseInt(newMsg2,10);\ni1 = String(i1);\ni2 = String(i2);\nif(i1.length==1) i1 = \"0\"+i1;\nif(i2.length==1) i2 = \"0\"+i2;\nif(sym==0x5a)\nresult = \"-\"+i1+i2;\nelse\nresult = i1+i2;\nresult = parseInt(result,10)/1000;\n\nmsg.payload = result+\" Kv\";\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":400,"wires":[["c4edd83f.ceb358"]]},{"id":"116606fe.2ae569","type":"switch","z":"4b2abb42.86bae4","name":"addSensor_0x08","property":"payload[1]","propertyType":"msg","rules":[{"t":"eq","v":"0x08","vt":"num"},{"t":"eq","v":"0x09","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":200,"wires":[["28f02114.49669e"],["73a347bd.fdef98"]]},{"id":"28f02114.49669e","type":"function","z":"4b2abb42.86bae4","name":"","func":"var addSensor =  msg.payload[1];\nvar sym =  msg.payload[3];\nvar newMsg =  msg.payload[5];\nvar newMsg2 = msg.payload[6];\nvar result = 0;\nvar i1 =  parseInt(newMsg,10);\nvar i2 =  parseInt(newMsg2,10);\ni1 = String(i1);\ni2 = String(i2);\nif(i1.length==1) i1 = \"0\"+i1;\nif(i2.length==1) i2 = \"0\"+i2;\nif(sym==0x5a)\nresult = \"-\"+i1+i2;\nelse\nresult = i1+i2;\nresult = parseInt(result,10)/1000;\nvar msg1 = {};\nvar msg2 = {};\nmsg1.payload = result+\" Kv\";\nmsg2.payload = Math.abs(Number(result));\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":999,"y":184,"wires":[["c4106b9c.895648","4c517412.c4827c","c01d6a3b.3a7068"],["d6c51f0a.bba12"]]},{"id":"73a347bd.fdef98","type":"function","z":"4b2abb42.86bae4","name":"","func":"var addSensor =  msg.payload[1];\nvar sym =  msg.payload[3];\nvar newMsg =  msg.payload[5];\nvar newMsg2 = msg.payload[6];\nvar result = 0;\nvar i1 =  parseInt(newMsg,10);\nvar i2 =  parseInt(newMsg2,10);\ni1 = String(i1);\ni2 = String(i2);\nif(i1.length==1) i1 = \"0\"+i1;\nif(i2.length==1) i2 = \"0\"+i2;\nif(sym==0x5a)\nresult = \"-\"+i1+i2;\nelse\nresult = i1+i2;\nresult = parseInt(result,10)/1000;\n\nvar msg1 = {};\nvar msg2 = {};\nmsg1.payload = result+\" Kv\";\nmsg2.payload = Math.abs(Number(result));\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":1001,"y":235,"wires":[["d1f342f6.24942","d3afdcd.1f9692"],["454529cd.612098"]]},{"id":"d1f342f6.24942","type":"ui_gauge","z":"4b2abb42.86bae4","name":"","group":"a231887e.d46398","order":0,"width":0,"height":0,"gtype":"donut","title":"0x09","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":141,"wires":[]},{"id":"c01d6a3b.3a7068","type":"ui_text","z":"4b2abb42.86bae4","group":"a231887e.d46398","order":0,"width":"3","height":"3","name":"","label":"0x08","format":"{{msg.payload}}","layout":"col-center","x":1210,"y":20,"wires":[]},{"id":"d3afdcd.1f9692","type":"ui_text","z":"4b2abb42.86bae4","group":"a231887e.d46398","order":0,"width":"3","height":"3","name":"","label":"0x09","format":"{{msg.payload}}","layout":"col-center","x":1210,"y":60,"wires":[]},{"id":"d6c51f0a.bba12","type":"function","z":"4b2abb42.86bae4","name":"Fields","func":"msg.payload = {\n    numValue: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":200,"wires":[["b8c9003e.c5725","c67858a4.2bd148","75ae6165.bb22b"]]},{"id":"b8c9003e.c5725","type":"debug","z":"4b2abb42.86bae4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1387,"y":169,"wires":[]},{"id":"454529cd.612098","type":"function","z":"4b2abb42.86bae4","name":"Fields","func":"msg.payload = {\n    numValue: msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":245,"wires":[["4adc3c16.984a54","e4c52dc.98c0ad"]]},{"id":"d284ec75.82911","type":"inject","z":"4b2abb42.86bae4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":"0.5","x":70,"y":160,"wires":[["59c189b6.6056f8","780d0de5.3ac054","384dcdb8.e0d4f2","700f135f.80500c"]]},{"id":"59c189b6.6056f8","type":"rpi-gpio out","z":"4b2abb42.86bae4","name":"Drive con 21","pin":"21","set":true,"level":"0","freq":"","out":"out","x":250,"y":380,"wires":[]},{"id":"780d0de5.3ac054","type":"rpi-gpio out","z":"4b2abb42.86bae4","name":"DriveX 22","pin":"22","set":true,"level":"0","freq":"","out":"out","x":240,"y":440,"wires":[]},{"id":"384dcdb8.e0d4f2","type":"rpi-gpio out","z":"4b2abb42.86bae4","name":"Drive-Dir X 23","pin":"23","set":true,"level":"0","freq":"","out":"out","x":260,"y":500,"wires":[]},{"id":"700f135f.80500c","type":"rpi-gpio out","z":"4b2abb42.86bae4","name":"SoftX 24","pin":"24","set":true,"level":"0","freq":"","out":"out","x":240,"y":560,"wires":[]},{"id":"52eb23bd.f87c1c","type":"inject","z":"4b2abb42.86bae4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1220,"wires":[["5a83ac1b.147cf4"]]},{"id":"f955b86f.9c4a88","type":"inject","z":"4b2abb42.86bae4","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":690,"y":1180,"wires":[["5a83ac1b.147cf4"]]},{"id":"e52b4386.43599","type":"ui_button","z":"4b2abb42.86bae4","name":"","group":"74360e59.c54de","order":2,"width":"1","height":"1","passthru":false,"label":"START","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":540,"y":440,"wires":[["c2c9a45c.6a9ac8"]]},{"id":"691c290d.024528","type":"ui_button","z":"4b2abb42.86bae4","name":"","group":"74360e59.c54de","order":3,"width":"1","height":"1","passthru":false,"label":"STOP","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":530,"y":480,"wires":[["c2c9a45c.6a9ac8"]]},{"id":"17d490e.9a5906f","type":"ui_text","z":"4b2abb42.86bae4","group":"74360e59.c54de","order":1,"width":"4","height":"1","name":"","label":"Motor","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":540,"wires":[]},{"id":"a20607fc.b7a768","type":"function","z":"4b2abb42.86bae4","name":"","func":"if(msg.payload==0){\n    msg.payload = \"OFF\";\n}else{\n    msg.payload = \"ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":540,"wires":[["17d490e.9a5906f"]]},{"id":"ff6936bf.d155d8","type":"ui_text","z":"4b2abb42.86bae4","group":"74360e59.c54de","order":4,"width":"6","height":"1","name":"","label":"Sensor Ck","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":580,"wires":[]},{"id":"baf9db42.0b64f8","type":"ui_text","z":"4b2abb42.86bae4","group":"74360e59.c54de","order":5,"width":"6","height":"1","name":"","label":"Sensor Stop","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":620,"wires":[]},{"id":"9977394d.251d98","type":"rpi-gpio in","z":"4b2abb42.86bae4","name":"ss_chk_11","pin":"11","intype":"down","debounce":"25","read":true,"x":460,"y":580,"wires":[["4668d431.09c20c"]]},{"id":"fd1e0744.f50f68","type":"rpi-gpio in","z":"4b2abb42.86bae4","name":"ss_Stop_12","pin":"12","intype":"down","debounce":"25","read":false,"x":470,"y":620,"wires":[["43876bfc.c6d904"]]},{"id":"4668d431.09c20c","type":"function","z":"4b2abb42.86bae4","name":"","func":"global.set(\"ss_chk\",msg.payload);\nif(msg.payload==0){\n    msg.payload = \"OFF\";\n}else{\n    msg.payload = \"ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":580,"wires":[["ff6936bf.d155d8"]]},{"id":"43876bfc.c6d904","type":"function","z":"4b2abb42.86bae4","name":"","func":"global.set(\"ss_stop\",msg.payload);\nif(msg.payload==0){\n    msg.payload = \"OFF\";\n}else{\n    msg.payload = \"ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":620,"wires":[["baf9db42.0b64f8"]]},{"id":"f2d36427.adc318","type":"rpi-gpio in","z":"4b2abb42.86bae4","name":"ss_X_13","pin":"13","intype":"down","debounce":"25","read":true,"x":660,"y":900,"wires":[["1bfec730.f96be9"]]},{"id":"3b3d8922.f6dd36","type":"rpi-gpio in","z":"4b2abb42.86bae4","name":"ss_X_15","pin":"15","intype":"down","debounce":"25","read":true,"x":660,"y":940,"wires":[["ae131b68.70e6c8"]]},{"id":"80a0469d.7bc5b8","type":"ui_button","z":"4b2abb42.86bae4","name":"","group":"ce114ca9.1550d","order":2,"width":"1","height":"1","passthru":false,"label":"START","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":740,"y":760,"wires":[["48f7c334.118c1c"]]},{"id":"78e56b9c.359294","type":"ui_button","z":"4b2abb42.86bae4","name":"","group":"ce114ca9.1550d","order":3,"width":"1","height":"1","passthru":false,"label":"STOP","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":730,"y":800,"wires":[["48f7c334.118c1c"]]},{"id":"f5a5cdff.aa8bc","type":"ui_text","z":"4b2abb42.86bae4","group":"ce114ca9.1550d","order":1,"width":"2","height":"1","name":"","label":"Motor","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":860,"wires":[]},{"id":"197eacac.540133","type":"ui_text","z":"4b2abb42.86bae4","group":"ce114ca9.1550d","order":4,"width":"6","height":"1","name":"","label":"Sensor Ck","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":900,"wires":[]},{"id":"9ceb9eec.92701","type":"ui_text","z":"4b2abb42.86bae4","group":"ce114ca9.1550d","order":5,"width":"6","height":"1","name":"","label":"Sensor Stop","format":"{{msg.payload}}","layout":"row-spread","x":970,"y":940,"wires":[]},{"id":"1bfec730.f96be9","type":"function","z":"4b2abb42.86bae4","name":"","func":"global.set(\"ssx1\",msg.payload);\nif(msg.payload==0){\n    msg.payload = \"OFF\";\n}else{\n    msg.payload = \"ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":900,"wires":[["197eacac.540133"]]},{"id":"ae131b68.70e6c8","type":"function","z":"4b2abb42.86bae4","name":"","func":"global.set(\"ssx2\",msg.payload);\nif(msg.payload==0){\n    msg.payload = \"OFF\";\n}else{\n    msg.payload = \"ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":940,"wires":[["9ceb9eec.92701"]]},{"id":"c2c9a45c.6a9ac8","type":"rpi-gpio out","z":"4b2abb42.86bae4","name":"Drive con 21","pin":"21","set":true,"level":"0","freq":"","out":"out","x":710,"y":480,"wires":[]},{"id":"742fd5ba.769bbc","type":"ui_button","z":"4b2abb42.86bae4","name":"","group":"1297884b.345ba8","order":9,"width":"3","height":"1","passthru":false,"label":"START","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":340,"y":800,"wires":[[]]},{"id":"e8db9776.a65c08","type":"ui_text","z":"4b2abb42.86bae4","group":"1297884b.345ba8","order":1,"width":0,"height":0,"name":"","label":"Robot Status","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":880,"wires":[]},{"id":"4e88923.3fd0c6c","type":"ui_text","z":"4b2abb42.86bae4","group":"1297884b.345ba8","order":2,"width":"3","height":"1","name":"","label":"Robot Control","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":920,"wires":[]},{"id":"8acd7b1f.83cde8","type":"ui_button","z":"4b2abb42.86bae4","name":"","group":"1297884b.345ba8","order":10,"width":"3","height":"1","passthru":false,"label":"STOP","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":330,"y":840,"wires":[[]]},{"id":"f7be3920.bb98d8","type":"ui_button","z":"4b2abb42.86bae4","name":"start_rb","group":"1297884b.345ba8","order":3,"width":"1","height":"1","passthru":false,"label":"START","color":"","bgcolor":"green","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":760,"wires":[[]]},{"id":"b24b1e7f.e4ed8","type":"ui_button","z":"4b2abb42.86bae4","name":"stop_rb","group":"1297884b.345ba8","order":4,"width":"1","height":"1","passthru":false,"label":"STOP","color":"","bgcolor":"red","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":800,"wires":[[]]},{"id":"5fbf1329.de3b7c","type":"ui_button","z":"4b2abb42.86bae4","name":"home","group":"1297884b.345ba8","order":5,"width":"1","height":"1","passthru":false,"label":"HOME","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":840,"wires":[[]]},{"id":"bdc651da.681b5","type":"ui_text","z":"4b2abb42.86bae4","group":"1297884b.345ba8","order":8,"width":0,"height":0,"name":"","label":"Main Control","format":"{{msg.payload}}","layout":"col-center","x":350,"y":760,"wires":[]},{"id":"48f7c334.118c1c","type":"rpi-gpio out","z":"4b2abb42.86bae4","name":"DriveX 22","pin":"22","set":true,"level":"0","freq":"","out":"out","x":960,"y":760,"wires":[]},{"id":"f9df5ad9.efde88","type":"rpi-gpio out","z":"4b2abb42.86bae4","name":"Drive-Dir X 23","pin":"23","set":true,"level":"0","freq":"","out":"out","x":980,"y":800,"wires":[]},{"id":"e9be7961.d25068","type":"ui_switch","z":"4b2abb42.86bae4","name":"","label":"Dir","group":"ce114ca9.1550d","order":0,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"red","x":730,"y":840,"wires":[["f9df5ad9.efde88"]]},{"id":"b7fb05c8.bc50b8","type":"ui_text","z":"4b2abb42.86bae4","group":"1297884b.345ba8","order":6,"width":"5","height":"1","name":"","label":"Soft X","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":960,"wires":[]},{"id":"27ef0154.7c98ce","type":"ui_switch","z":"4b2abb42.86bae4","name":"SoftX","label":"","group":"1297884b.345ba8","order":7,"width":"1","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":70,"y":1000,"wires":[["d9d8efc7.440bf","681f3369.312b3c"]]},{"id":"d9d8efc7.440bf","type":"rpi-gpio out","z":"4b2abb42.86bae4","name":"SoftX 24","pin":"24","set":true,"level":"0","freq":"","out":"out","x":340,"y":1000,"wires":[]},{"id":"681f3369.312b3c","type":"function","z":"4b2abb42.86bae4","name":"","func":"if(!msg.payload){\n    msg.payload = \"OFF\";\n}else{\n    msg.payload = \"ON\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":960,"wires":[["b7fb05c8.bc50b8"]]},{"id":"c67858a4.2bd148","type":"function","z":"4b2abb42.86bae4","name":"valCheckcon","func":"global.set(\"valCheckcon\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":220,"wires":[[]]},{"id":"4adc3c16.984a54","type":"function","z":"4b2abb42.86bae4","name":"valChecksoft","func":"global.set(\"valChecksoft\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":260,"wires":[[]]},{"id":"5b1ae119.6bfad","type":"function","z":"4b2abb42.86bae4","name":"","func":"global.set(\"mainState\",\"start\");\nglobal.set(\"ss1\",true);\nglobal.set(\"statusESD\",false);\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":340,"wires":[[]]},{"id":"b0e7eacb.cb2078","type":"ui_button","z":"4b2abb42.86bae4","name":"","group":"b4b87adb.acce08","order":5,"width":0,"height":0,"passthru":false,"label":"Robot Pick","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":1370,"y":640,"wires":[[]]},{"id":"c1b44f28.1dde7","type":"status","z":"4b2abb42.86bae4","name":"ss1","scope":["9977394d.251d98"],"x":1230,"y":360,"wires":[["a81b35d3.900e68"]]},{"id":"a81b35d3.900e68","type":"function","z":"4b2abb42.86bae4","name":"start","func":"var st1 = msg.status.text;\nvar ss1 = global.get(\"ss1\");\nvar mState = global.get(\"mainState\");\nif(ss1 && mState==\"start\"){\n    if(st1==\"1\"){\n        msg.payload = false;\n        global.set(\"ss1\",false);\n        global.set(\"mainState\",\"waitRobot\");\n    }\n}else{\n    msg.payload = \"CheckESD\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":360,"wires":[["44284dbd.8749e4","b6461d38.f949f"]]},{"id":"cb1808d.403caf8","type":"ui_button","z":"4b2abb42.86bae4","name":"","group":"b4b87adb.acce08","order":2,"width":"2","height":"1","passthru":false,"label":"START","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":1540,"y":340,"wires":[["a3370cea.27bd2","5b1ae119.6bfad"]]},{"id":"44284dbd.8749e4","type":"ui_text","z":"4b2abb42.86bae4","group":"b4b87adb.acce08","order":1,"width":"4","height":"1","name":"","label":"STATUS","format":"{{msg.payload}}","layout":"row-spread","x":1540,"y":420,"wires":[]},{"id":"a3370cea.27bd2","type":"rpi-gpio out","z":"4b2abb42.86bae4","name":"Drive con 21","pin":"21","set":true,"level":"0","freq":"","out":"out","x":1730,"y":420,"wires":[]},{"id":"b6461d38.f949f","type":"switch","z":"4b2abb42.86bae4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1540,"y":380,"wires":[["a3370cea.27bd2"],["a3370cea.27bd2"]]},{"id":"19f916d0.5d25c9","type":"debug","z":"4b2abb42.86bae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1770,"y":300,"wires":[]},{"id":"15cf0f66.44b641","type":"ui_button","z":"4b2abb42.86bae4","name":"","group":"b4b87adb.acce08","order":3,"width":"3","height":"1","passthru":false,"label":"ESD PASS","color":"","bgcolor":"green","icon":"","payload":"true","payloadType":"bool","topic":"","x":1370,"y":420,"wires":[["646576e2.8f9ec8","44284dbd.8749e4"]]},{"id":"9a651e0.e0f19e","type":"ui_button","z":"4b2abb42.86bae4","name":"","group":"b4b87adb.acce08","order":4,"width":"3","height":"1","passthru":false,"label":"ESD FAIL","color":"","bgcolor":"red","icon":"","payload":"false","payloadType":"bool","topic":"","x":1360,"y":460,"wires":[["646576e2.8f9ec8","44284dbd.8749e4"]]},{"id":"646576e2.8f9ec8","type":"function","z":"4b2abb42.86bae4","name":"ESDstatus","func":"global.set(\"ss1\",true);\nif(msg.payload){\n    global.set(\"statusESD\",true);\n}else{\n    global.set(\"statusESD\",false);\n}\nmsg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":460,"wires":[["a3370cea.27bd2"]]},{"id":"913e906e.47eef","type":"status","z":"4b2abb42.86bae4","name":"ss2","scope":["fd1e0744.f50f68"],"x":1230,"y":500,"wires":[["946c83b8.450a5"]]},{"id":"946c83b8.450a5","type":"function","z":"4b2abb42.86bae4","name":"waitRobot","func":"var st1 = msg.status.text;\nvar ss1 = global.get(\"ss2\");\nvar mState = global.get(\"mainState\");\nif(mState==\"waitRobot\"){\n    if(st1==\"1\"){\n        msg.payload = false;\n        global.set(\"ss2\",false);\n        global.set(\"mainState\",\"robotPick\");\n    }\n}else{\n    msg.payload = \"waitRobot\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1360,"y":500,"wires":[["f10297e3.2625b8"]]},{"id":"f10297e3.2625b8","type":"switch","z":"4b2abb42.86bae4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1530,"y":500,"wires":[["a3370cea.27bd2"],["a3370cea.27bd2"]]},{"id":"1da2bb.f4523d45","type":"tcp in","z":"4b2abb42.86bae4","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":1400,"y":880,"wires":[["7107d90.b43f428"]]},{"id":"dc497b42.2d8018","type":"tcp out","z":"4b2abb42.86bae4","host":"","port":"1234","beserver":"reply","base64":false,"end":false,"name":"","x":1700,"y":540,"wires":[]},{"id":"c7b845b5.d0dc58","type":"status","z":"4b2abb42.86bae4","name":"","scope":["1da2bb.f4523d45"],"x":60,"y":920,"wires":[["901caf88.ecc41"]]},{"id":"901caf88.ecc41","type":"function","z":"4b2abb42.86bae4","name":"start","func":"var con = msg.status.text;\nif(con[0]==\"1\"){\n    msg.payload = \"connected\";\n}else{\n    msg.payload = \"disconnect\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":920,"wires":[["e8db9776.a65c08"]]},{"id":"75ae6165.bb22b","type":"influxdb out","z":"4b2abb42.86bae4","influxdb":"fb7fae28.9877","name":"sensor1","measurement":"sensor_1","precision":"","retentionPolicy":"","x":1380,"y":80,"wires":[]},{"id":"e4c52dc.98c0ad","type":"influxdb out","z":"4b2abb42.86bae4","influxdb":"fb7fae28.9877","name":"sensor2","measurement":"sensor_2","precision":"","retentionPolicy":"","x":1378,"y":122,"wires":[]},{"id":"5a83ac1b.147cf4","type":"modbustcp-write","z":"4b2abb42.86bae4","name":"","topic":"","dataType":"HoldingRegister","adr":"100","server":"8b41e75b.ddc148","x":870,"y":1160,"wires":[]},{"id":"814fcef9.67023","type":"inject","z":"4b2abb42.86bae4","name":"","topic":"","payload":"0.15","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":300,"wires":[["d6c51f0a.bba12","454529cd.612098"]]},{"id":"3c13a57a.33a1ba","type":"influxdb in","z":"4b2abb42.86bae4","influxdb":"fb7fae28.9877","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":1300,"y":700,"wires":[[]]},{"id":"2edec8bd.d4ddb8","type":"inject","z":"4b2abb42.86bae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1100,"y":680,"wires":[["3c13a57a.33a1ba"]]},{"id":"7107d90.b43f428","type":"debug","z":"4b2abb42.86bae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1750,"y":880,"wires":[]},{"id":"37286b53.3caa44","type":"ui_template","z":"4b2abb42.86bae4","group":"92e22329.f0e9","name":"","order":0,"width":"19","height":"9","format":"\n\n\n<style type=\"text/css\">\n.hero-image {\n  background-image: url(\"/piconfig-seminar/image/iFactory/floor_map.jpg\");\n  background-color: #cccccc;\n  height: 500px;\n  background-position: center;\n  background-repeat: no-repeat;\n  background-size: cover;\n  position: relative;\n}\n\n.logo {\n    background:url(\"/piconfig-seminar/image/iFactory/Down.png\");\n    height:120px;\n    width:150px;\n    background-repeat: no-repeat;\n    background-size: contain;;\n    \n}\n</style>\n\n<div class=\"hero-image\">\n    <div class=\"logo\">\n  \n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1640,"y":640,"wires":[[]]},{"id":"de098b.cc1b4678","type":"comment","z":"4b2abb42.86bae4","name":"","info":"<div height=\"400\" style=\"height: 400px;\">\n<img src=\"/piconfig-seminar/image/iFactory/floor_map.jpg\" width=\"500\"><br/>\n<a href=\"/piconfig-seminar/image/iFactory/floor_map.jpg\" target=\"_blank\">Full screen</a>\n</div>","x":1920,"y":600,"wires":[]},{"id":"78a6315e.4f5be","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"200","bin":"bin","out":"time","addchar":false,"responsetimeout":""},{"id":"a231887e.d46398","type":"ui_group","z":"","name":"Static Sensor","tab":"c79c8ccb.d57d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"482f9069.de409","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"200","bin":"bin","out":"time","addchar":false,"responsetimeout":""},{"id":"74360e59.c54de","type":"ui_group","z":"","name":"Conveyor","tab":"c79c8ccb.d57d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"ce114ca9.1550d","type":"ui_group","z":"","name":"SoftX","tab":"c79c8ccb.d57d8","order":5,"disp":true,"width":"6","collapse":false},{"id":"1297884b.345ba8","type":"ui_group","z":"","name":"Main Control","tab":"c79c8ccb.d57d8","order":3,"disp":true,"width":"6","collapse":true},{"id":"b4b87adb.acce08","type":"ui_group","z":"","name":"Simulate","tab":"c79c8ccb.d57d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"fb7fae28.9877","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"staticsensor","name":"","usetls":false,"tls":""},{"id":"92e22329.f0e9","type":"ui_group","z":"","name":"pic","tab":"3a7c1d37.e0cef2","order":1,"disp":false,"width":"19","collapse":false},{"id":"c79c8ccb.d57d8","type":"ui_tab","z":"","name":"IOT","icon":"dashboard","order":1},{"id":"3a7c1d37.e0cef2","type":"ui_tab","z":"","name":"status","icon":"dashboard","order":2}]